<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block content %}
<center><h1 class="text-success mt-2">LOGIN</h1></center>
<form method="POST" style="width:50%;margin-left:400px;">
    {% csrf_token %}
<div class="mb-3">
  <label class="form-label text-success">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter Username">
</div>
<div class="mb-3">
  <label class="form-label text-success">Password</label>
  <input type="password" class="form-control" name="p" placeholder="Enter Password">
</div>

<div class="mb-3">

 <center> <input type="submit" class="form-control btn btn-success" style="margin-bottom:100px;width:25%;"></center>
</div>

</form>

{% if messages %}
<ul>
    {% for msg in messages %}
    <li>{{msg}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}